<div class="modal">
    <ion-header-bar class="bar-stable">
        <button class="button button-clear back-button" ng-click="cancel()">Cancel</button>
        <h1 class="title">Add Repository</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Owner</span>
                <input type="text" ng-model="repo.owner" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Repository Name</span>
                <input type="text" ng-model="repo.name" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
            </label>
            <div class="item">
                <p>{{repo.displayURL}}</p>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="save(repo)">Save</button>
        </div>
    </ion-content>
</div>
