<ion-view title="Settings" ng-controller="RepoConfigController">
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider">Notifications</div>
            <div class="item item-text-wrap">
            	<div><span class="left">Push Notifications</span><span class="right">{{pushNotificationsEnabled ? 'ON' : 'OFF' }}</span></div>
            	<p class="clear">Device Settings ➔ Notifications ➔ Sidewinder</p>
            </div>
        </div>
        <ion-list type="list-inset" can-swipe="false" show-delete="false">
            <div class="item item-divider">Repositories</div>
            <ion-item ng-repeat="repo in repositories.list">
                {{repo.fullName}}
                <ion-delete-button class="ion-ios-minus" ng-click="removeRepo(repo)"></ion-delete-button>
            </ion-item>
            <ion-item class="add-repository enable-pointer-events" ng-click="addRepository()">
                <ion-delete-button class="ion-ios-plus"></ion-delete-button>
                <span class="positive">Add Repository</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
