<ion-view title="Settings">
    <ion-content ng-controller="RepoConfigController">
        <ion-list can-swipe="false" show-delete="true">
            <div class="item item-divider">Repositories</div>
            <ion-item ng-repeat="repo in repositories.list">
                {{repo.fullName}}
                <ion-delete-button class="ion-ios-minus" ng-click="removeRepo(repo)"></ion-delete-button>
            </ion-item>
            <ion-item class="add-repository enable-pointer-events" ng-click="addRepository()">
                <ion-delete-button class="ion-ios-plus"></ion-delete-button>
                <span class="positive">Add Repository</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
