/* TODO: switch to SCSS */

.assessments .item > .icon {
    left: 3px;
}

.assessments .item-icon-left {
    padding-left: 38px;
}

.assessments .item {
    border-left: 8px solid #444;
}

.assessments .item.success {
    border-left-color: #33cd5f;
}

.assessments .item.failure {
    border-left-color: #ef473a;
}

.assessments .item.pending {
    border-left-color: #ffc900;
}

.assessments .repo > span {
    display: inline-block;
}

.item.add-repository .icon {
    color: #33cd5f;
}

.button-inline {
	max-height: auto;
	min-height: auto;
	line-height: 1;
	vertical-align: baseline;
}
